requests
pandas
websocket-client
streamlit
altair==5.2.0
typing-extensions>=4.12.0
plotly>=5.0.0
scikit-learn
xgboost
feedparser
numpy
yfinance
# Ajout explicite pour éviter tout souci d'environnement sur Streamlit Cloud
pandas
requests
